.title-slide {
    font-size: 2.5vh;
    font-weight: 600;
}

.desc-slide {
    font-size: 2vh;
    font-weight: 400;
}

.box-slide {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background: linear-gradient(139.6deg, #E0F2FF -29.66%, rgba(77, 147, 197, 0) 77.01%);
}

.number-slide {
    height: 6vh;
    width: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2vh;
    font-weight: 700;

    border-radius: 7px;
    background: #599DD0;
}

.text-slide {
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;

    font-size: 1.5vh;
    font-weight: 700;
    line-height: 2vh;

    border-radius: 7px;
    background: #C9E2ED;
}

.box-arrow-slide {
    height: 4vh;
    width: 90vw;
    position: fixed;
    bottom: 3vh;
}